<div class="header">
  <span>Certificates</span>
</div>
<div class="actions">
  <p-button type="button" label="Add" (onClick)="addCertificate()"></p-button>
  <p-button type="button" label="Remove" severity="secondary" (onClick)="removeCertificate()"></p-button>
</div>
<div class="certificates-container">

  <p-splitter [style]="{  backgroundColor: 'black', border: '0px'}" [panelSizes]="[60, 40]">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center panel">
        <p-tree [style]="{backgroundColor: 'black'}"   [value]="certificates" class="w-full md:w-30rem" selectionMode="single"
                [(selection)]="selectedCertificate"></p-tree>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center certificate-wrapper ">
        @if (selectedCertificate ){

          <app-certificate [certificateAlias]="selectedCertificate.key"></app-certificate>
        }
      </div>
    </ng-template>
  </p-splitter>
</div>
