<div class="main">
  @if (loggedIn){
    <div class="sidebar">
      <img class="sidebar-icon" src="../assets/img/iconmonstr-certificate-16-240.png" alt="cert" (click)="openCertificates()">
      <img class="sidebar-icon" src="../assets/img/iconmonstr-script-2-240.png" alt="cert" (click)="openRequests()">
      <img class="sidebar-icon" src="../assets/img/iconmonstr-log-out-16-240.png" alt="cert" (click)="logout()">
    </div>
  }

  <router-outlet />
</div>
<p-toast position="bottom-center" key="bc"></p-toast>


